/* Write your CSS here */
.prime-video-container {
  background-color: #000000;
  min-height: 100vh;
  padding: 20px 0;
}

.prime-video-banner {
  width: 100%;
}

.movies-section {
  padding: 20px;
  background-color: #231f20;
}
